$font-family-sans-serif: 'Karma', serif;
$font-family-serif:      'Karma', serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$greyish: #666766;
$pinkish: #fbc8b4;

$font-family-header: 'Pacifico', cursive;
$font-family-secondary-header:'Satisfy', cursive;

html, body {
  color: $greyish !important;
}

h5, h4, h3, h2, h1 {
  line-height: 1.4 !important;
}
h5, h4, h3, h2 {
  font-family: $font-family-secondary-header !important;
  color: $pinkish !important;
}

h1 {
  font-family: $font-family-header !important;
}

.border-container {
  border: 7px double #fbc8b4;
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 7px double #fbc8b4;
  margin-bottom: 20px;

  .nav-link.active {
    font-weight: 600 !important;
  }
}

.btn {
  padding-top: .5rem;
}
