html, body {
  font-family: 'Karma', serif;
  color: #666766;
}

h5, h4, h3, h2, h1 {
  line-height: 1.4;
}
h5, h4, h3, h2 {
  font-family: 'Satisfy', cursive;
  color: #fbc8b4;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.border-container {
  border: 7px double #fbc8b4;
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar {
  padding: 0;
}
